@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root
{
  --orange:#ffa500;
}
*
{
    font-family: 'Nunito', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline:none; border: none;
    text-decoration: none;
    transition: 2ms linear;
}

*::selection
{
    background:var(--orange);
    color:#fff;

}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem; 
}

/* header starts */

header
{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #333;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
} 

header .logo 
{
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;

}

header .logo span
{
    text-transform: lowercase;
    color: black;
    padding: 0.7rem;
    border-radius: 1rem;
    background:var(--orange);
}

header .navbar a
{
    color: #fff;
    font-size: 2rem;
    margin:0 .8rem;
}

header .navbar a:hover
{
    color: var(--orange) ;
}

header .icons i
{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}


#search-icon
{
    margin-left: 5px;
    color: #fff;
}

#search-icon:hover
{
    color:var(--orange);

}

#search-bar
{
    margin-right: 12rem;
    padding: 1rem;
    border: 0px solid #333;
    border-radius: 32px;
}

/* header ends  */




/* services section */

section
{
margin-top: 7rem;
padding:2rem 9%;

}
.heading
{
    text-align: center;
    padding: 2.5rem;
}

.heading span
{
    font-size: 3.5rem;
    background: rgba(255,165,0,.2);
    color: var(--orange);
    border-radius: .5rem;
    padding:.2rem 1rem;   
}



.services .box-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.services .box-container .box 
{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}

.services .box-container .box i
{
    padding: 1rem;
    font-size: 5rem;
    color: var(--orange);
}

.services .box-container .box h3
{
    font-size: 2.5rem;
    color: #333;
}

.services .box-container .box p
{
    font-size: 1.5rem;
    color: #666;
    padding:1rem 0;
}

.services .box-container .box:hover
{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box
{
    flex: 1 1 30rem;
}

/* services section ends */

/* footer section starts */

.footer
{
    margin-top: 0rem;
    background: #333;

}

.footer .box-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box
{
    padding: 1rem 0;
    flex: 1 1 25rem;

}
  
.footer .box-container .box h3
{
    font-size: 2.5rem;
    padding: .7rem 0;
    color: #fff;
}

.footer .box-container .box p
{
    font-size: 1.5rem;
    padding:.7rem 0;
    color: #eee;

}

.footer .box-container .box a
{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color: #eee;
}

.footer .box-container .box a:hover
{
    color: var(--orange);
    text-decoration: underline;
}

.footer .box-container .box i
{
    display: block;
    font-size: 3rem;
    padding:.7rem 0;
    color: #eee;

}

.footer .box-container .box i:hover
{
    color: var(--orange);

}

.footer .credit
{
    border-top: .1rem solid rgba(225,225,225,.2);
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;

}

.footer .credit span
{
    color: var(--orange);
}


/* footer ends here  */